<%- include ("header.ejs") -%>
        <div class="wrapper">
            
            <div class="container-fluid">
                
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0"> News</h3>
                        
                    </div>
                </div>
                                   
                <h4 class="">Latest News</h4>
                <div id="news"></div>
                                              
            </div>
           
        </div>
        
    </div>
    <%- include ("footer.ejs") -%>
</body>

</html>
